{{ $allPages := .Site.Pages }}
{{ range .Site.Home.Translations }}
{{ $allPages = $allPages | lang.Merge .Site.Pages }}
{{ end }}

{{ $regularPages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
{{ $regularPages = $regularPages | lang.Merge .Site.RegularPages }}
{{ end }}

<section class="p-strip">
    <div class="row">
      <div class="col-12">
        <h1>Sponsor</h1>
        <p>
        {{.Site.Params.main_sponsor_desc}}{{ i18n "main_sponsor_desc" }}
        </p>
        <a href="{{ "sponsors" | relLangURL }}"><button class="p-button has-icon"><i class="p-icon--information"></i><span>List Sponsor</span></button></a>
<!--
	<div class="p-logo-section">
          <div class="p-logo-section__items">
          {{ $sponsors := (where $regularPages "Section" "sponsors") }}
          {{ range $sponsors }}
            <div class="p-logo-section__item"><a href="{{ .RelPermalink }}">
            <img class="p-logo-section__logo" src="{{ .RelPermalink }}{{.Params.image }}" alt="{{.Title}}">
            </a></div>
          {{ end }}
          </div>
        </div>
-->
      </div>
    </div>
</section>
